  <div class="movie__desc">
    <div class="movie__details">
      <span class="card__release-date">{{ movie().release_date | date }}</span>
      <span class="card__rating">Rating: {{ movie().vote_average }}</span>
    </div>
  </div>
  <picture class="card__picture">
    @if (movie().poster_path) {
      <img [src]="imagesBaseUrl + '/w300/' + movie().poster_path" alt="{{movie().title}}" class="card__image"/>
    }@else {
      <img src="\images\no-poster-available.jpg" alt="" class="card__image"/>
    }
  </picture>
  <span class="card__title">{{ movie().title }}</span>
