<section class="posters__container">
  <h1 class="posters__title">ESTRENOS / CARTELERA</h1>
  <div class="movie__posters">
    <button class="prev"><img src="/icons/arrow-left.svg" alt="arrow-left"></button>
    <div class="movies__container">
      <div class="movie__card">
        <img src="https://image.tmdb.org/t/p/w500/Apr19lGxP7gm6y2HQX0kqOXTtqC.jpg" alt="movie_img" class="movie__image">
        <span class="movie__text">VER HORARIOS</span>
      </div>
      <div class="movie__card">
        <img src="https://image.tmdb.org/t/p/w500/Apr19lGxP7gm6y2HQX0kqOXTtqC.jpg" alt="movie_img" class="movie__image">
        <span class="movie__text">VER HORARIOS</span>
      </div>
      <div class="movie__card">
        <img src="https://image.tmdb.org/t/p/w500/Apr19lGxP7gm6y2HQX0kqOXTtqC.jpg" alt="movie_img" class="movie__image">
        <span class="movie__text">VER HORARIOS</span>
      </div>
      <div class="movie__card">
        <img src="https://image.tmdb.org/t/p/w500/Apr19lGxP7gm6y2HQX0kqOXTtqC.jpg" alt="movie_img" class="movie__image">
        <span class="movie__text">VER HORARIOS</span>
      </div>
      <div class="movie__card">
        <img src="https://image.tmdb.org/t/p/w500/Apr19lGxP7gm6y2HQX0kqOXTtqC.jpg" alt="movie_img" class="movie__image">
        <span class="movie__text">VER HORARIOS</span>
      </div>
    </div>
    <button class="next"><img src="/icons/arrow-right.svg" alt="arrow-right"></button>
  </div>
</section>
