<section class="container">
  <h1 mat-dialog-title>Políticas de Privacidad</h1>
  <mat-dialog-content>
    <p>En Slow Movies, valoramos tu privacidad. Esta política explica cómo recopilamos, usamos y protegemos tu información personal cuando visitas nuestro sitio web.</p>
    <h2 mat-dialog-title>¿Qué información recopilamos?</h2>
  <ul>
    <li><strong>Información que nos proporcionas:</strong> Esto puede incluir tu nombre, correo electrónico y otra información que nos envíes voluntariamente al registrarte, realizar una compra o contactarnos.</li>
    <li><strong>Información automáticamente recopilada:</strong> Cuando visitas nuestro sitio web, podemos recopilar automáticamente cierta información, como tu dirección IP, tipo de navegador,1 sistema operativo y las páginas que visitas</li>
  </ul>
  <p><b>No estás obligado a suministrar esta información, pero muchas de ellas son esenciales para poder suscribirte a nuestros servicios y promociones.</b></p>
  <h2 mat-dialog-title>¿Cómo utilizamos tu información?</h2>
  <p>Utilizamos tu información para:</p>
  <ul>
    <li>Personalizar tu experiencia: Ofrecerte contenido y recomendaciones relevantes.</li>
    <li>Procesar tus pedidos: Si realizas una compra.</li>
    <li>Comunicarnos contigo: Enviarte actualizaciones, promociones y responder a tus consultas.</li>
    <li>Mejorar nuestro sitio web: Analizar cómo los usuarios interactúan con nuestro sitio para mejorar su funcionamiento.</li>
  </ul>
  <h2 mat-dialog-title>¿Cómo protegemos tu información?</h2>

  <p>Implementamos medidas de seguridad para proteger tu información personal de accesos no autorizados.</p>

  <h2 mat-dialog-title>¿Con quién compartimos tu información?</h2>

  <p>No vendemos ni alquilamos tu información personal a terceros. Podemos compartirla con proveedores de servicios de confianza que nos ayudan a operar nuestro sitio web.</p>

  <p><b>Slowmovies no garantiza que una persona no autorizada pueda acceder a tu información personal. </b></p>

  <h2 mat-dialog-title>Tus derechos</h2>
  <p>Tienes derecho a:</p>
  <ul>
    <li>Acceder a tu información: Solicitar una copia de los datos que tenemos sobre ti.</li>
    <li>Corregir tu información: Si algún dato es incorrecto, puedes solicitar que lo modifiquemos.</li>
    <li>Eliminar tu información: Puedes solicitar que eliminemos tus datos de nuestra base de datos.</li>
  </ul>

  <h2 mat-dialog-title>Cambios en esta política</h2>
  <p>Podemos actualizar esta política de privacidad ocasionalmente. Te notificaremos sobre cualquier cambio importante</p>

  <h2 mat-dialog-title>Contacto</h2>
  <p>Si tienes alguna pregunta sobre esta política de privacidad, puedes contactarnos a través de <span class="email__text">{{email()}}</span>.</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>
</section>
