<footer class="footer__container">
  <picture class="image__container">
    <img src="/images/logo-white.svg" alt="footer_logo" class="footer__image">
  </picture>
  <div class="footer__section__container">
    <section class="footer__section-about_us footer__section">
      <h5 class="footer__section-title">Sobre nuestro cine</h5>
      <hr class="footer__section-divider">
      <a class="footer__section-item" (click)="openAboutUsDialog()">Nosotros</a>
      <a class="footer__section-item" (click)="openPrivacyStatementDialog()">Políticas de privacidad</a>
      <a class="footer__section-item" (click)="openTermsAndConditionsDialog()">Términos y Condiciones</a>
    </section>
    <section class="footer__section-contact footer__section">
    <h5 class="footer__section-title">Contacto</h5>
    <hr class="footer__section-divider">
    <a href="#" class="footer__section-item">Club Alfajor</a>
    <a href="#" class="footer__section-item">Trabaja con Nosotros</a>
  </section>
</div>
</footer>
