<section class="container">
  <h2 mat-dialog-title>Sobre Nosotros</h2>
  <mat-dialog-content>
    <p>
      Somos una web que te ofrecemos la mejor experiencia para disfrutar del cine desde la comodidad de tu hogar. Nos apasiona el séptimo arte, y nuestro objetivo es proporcionarte una plataforma completa donde puedas encontrar información sobre películas, críticas, y recomendaciones personalizadas.
    </p>
    <h3 mat-dialog-title>Nuestra Historia</h3>
    <p>
      Nuestra aplicación nació de la idea de reunir a los amantes del cine en un solo lugar. Desde el lanzamiento en 2024, hemos trabajado incansablemente para mejorar y ofrecerte las funciones que realmente necesitas.
    </p>
    <h3 mat-dialog-title>Conéctate con Nosotros</h3>
    <p>Síguenos en nuestras redes sociales para estar al tanto de las últimas novedades y estrenos:</p>
    <div class="social-media__container">
      <a href="https://twitter.com"><img src="/icons/social-media/twitter.svg" alt="Twitter"></a>
      <a href="https://facebook.com"><img src="/icons/social-media/facebook.svg" alt="Facebook"></a>
      <a href="https://instagram.com"><img src="/icons/social-media/instagram.svg" alt="Instagram"></a>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cerrar</button>
  </mat-dialog-actions>
</section>
