@if(loaded){ } @if(movieObs$ | async; as movie){ @if(movie.poster_path){
<mat-card class="la-card">
  <mat-card-header class="la-card__header">
    <mat-card-subtitle> {{ movie.release_date | date }}</mat-card-subtitle>
    <mat-card-subtitle> Rating: {{ movie.vote_average }}</mat-card-subtitle>

    <mat-card-title>{{ movie.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="la-card__content">
    @if(movie.poster_path){
    <img
      class="poster"
      [src]="imagesBaseUrl + '/w185/' + movie.poster_path"
      [alt]="movie.title"
    />
    }
  </mat-card-content>
</mat-card>
<button mat-flat-button (click)="openVideo()">Play Now</button>
}
<p><b>Overview:</b> {{ movie.overview }}</p>
} @if(showVideo){ @if(movieVideosObs$ | async; as videos) {
<section
  class="fixed bg-neutral-700 top-0 right-0 bottom-0 left-0 z-40 bg-opacity-50 flex justify-center items-center"
>
  <div
    class="bg-black w-full max-h-[80vh] max-w-screen-lg aspect-video rounded relative"
  >
    <button
      (click)="closeVideo()"
      class="absolute -right-1 -top-6 text-3xl z-50"
    >
      X
    </button>
    <app-video [key]="videos[0].key" class="video" />
  </div>
</section>
} }

<h3>Cast</h3>

<mat-grid-list cols="4">
  @if(movieCastObs$ | async; as movieCast) { @for(actor of movieCast; track
  actor.id){

  <img
    mat-card-avatar
    class="avatar"
    [src]="imagesBaseUrl + '/w185/' + actor.profile_path"
  />

  } }
</mat-grid-list>
