.avatar {
  width: 150px;
  height: 150px;
  font-size: 40px;
}

video {
  border: 5px groove darkblue;
  padding: 30px;
  width: auto;
  height: auto;
}

.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 550px;
}

.la-card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

mat-card-subtitle {
  font-size: large;
  font-weight: bold;
}
