<div class="container">
  <div class="movie__card">
    <picture class="card__picture">
      @if (movie().poster_path) {
        <img [src]="imagesBaseUrl + '/w300/' + movie().poster_path" alt="{{movie().title}}" class="card__image"/>
      }@else {
        <img src="\images\no-poster-available.jpg" alt="" class="card__image"/>
      }
    </picture>
    <span class="card__title">{{ movie().title }}</span>
  </div>

  <p class="movie__desc"><b>Descripción:</b> <br> {{ movie().overview }}</p>

  @for (video of movieVideos() | slice:0:1; track video.id) {
    <section class="video__section">
    <div class="video__container">
    <app-video [key]="video.key" class="video" />
  </div>
</section>
}
<h3 class="cast__title">Reparto</h3>
<section class="cast__section">
  @for (cast of movieCast(); track cast.id) {
    @if (cast.profile_path) {
      <img [src]="imagesBaseUrl + '/w185/' + cast.profile_path" class="cast__image"/>
    }
  }
</section>
</div>

