<section class="section meet-us__section">
  <a href="#" class="meet-us__item">CONÓCENOS</a>
  <a href="#" class="meet-us__item">FORMATOS Y SALAS</a>
  <a href="#" class="meet-us__item">OTROS SERVICIOS</a>
  <a href="#" class="meet-us__item">TRABAJA CON NOSOTROS</a>
  <button mat-flat-button color="primary" class="meet-use__button">REGISTRARSE</button>
  <button mat-flat-button color="warn" class="meet-use__button">INICIAR SESIÓN</button>
</section>
<header class="navbar__container">
  <section class="navbar-logo__container">
    <img src="/images/logo.svg" alt="logo" class="navbar__logo">
    <span class="navbar__title">SLOW <br> MOVIE</span>
  </section>
  <nav class="navbar__nav">
    <a href="" class="nav__item">CARTELERA</a>
    <a href="" class="nav__item">PELÍCULAS</a>
    <a href="" class="nav__item">PROMOCIONES</a>
    <a href="" class="nav__item">GOLOSINAS</a>
    <a href="" class="nav__item nav-button__item">CLUB <br> ALFAJOR</a>
  </nav>
  <span class="empty__span"></span>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer__container">
  <img src="/images/logo-white.svg" alt="footer_logo" class="footer__image">
  <section class="footer__section-programacion footer__section">
    <h5 class="footer__section-title">PROGRAMACIÓN</h5>
    <hr class="footer__section-divider">
    <a href="#" class="footer__section-item">Cartelera Semanal</a>
    <a href="#" class="footer__section-item">Cartelera Mensual</a>
    <a href="#" class="footer__section-item">Venta anticipada</a>
  </section>
  <section class="footer__section-about_us footer__section">
    <h5 class="footer__section-title">SOBRE NUESTRO CINE</h5>
    <hr class="footer__section-divider">
    <a href="#" class="footer__section-item">Nosotros</a>
    <a href="#" class="footer__section-item">Salas y Formatos</a>
    <a href="#" class="footer__section-item">Términos y Condiciones</a>
  </section>
  <section class="footer__section-services footer__section">
    <h5 class="footer__section-title">OTROS SERVICIOS</h5>
    <hr class="footer__section-divider">
    <a href="#" class="footer__section-item">Cumpleaños</a>
    <a href="#" class="footer__section-item">Eventos</a>
    <a href="#" class="footer__section-item">Cupones de Descuentos</a>
  </section>
  <section class="footer__section-contact footer__section">
    <h5 class="footer__section-title">CONTACTO</h5>
    <hr class="footer__section-divider">
    <a href="#" class="footer__section-item">Preguntas Frecuentes</a>
    <a href="#" class="footer__section-item">Club Alfajor</a>
    <a href="#" class="footer__section-item">Trabaja con Nosotros</a>
    <a href="#" class="footer__section-item">Buscar Entradas Compradas</a>
    <a href="#" class="footer__section-item">Políticas de Devoluciones</a>
  </section>
</footer>
