.join-us-ad__container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-us__card {
  display: flex;
  flex-direction: row;
}
.join-us__desc {
  padding: 30px 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}
.join-us__question {
  color: black;
  font-weight: 300;
}
.join-us__paragraph {
  padding-right: 100px;
  font-weight: 600;
}
.join-us__short-text {
  font-size: 1.3rem;
}
.join-us__button {
  cursor: pointer;
  padding: 16px 32px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  background-color: #DF2935;
}
.join-us__picture {
  width: 350px;
}
.join-us__image {
  object-fit: cover;
  width: 100%;
}
