<section class="join-us-ad__container">
  <div class="join-us__card">
    <div class="join-us__desc">
      <span class="join-us__question">¿TODAVÍA NO ESTAS EN EL CLUB DEL ALFAJOR?</span>
      <span class="join-us__paragraph">ÚNETE Y SE PARTE DE LA COMUNIDAD MAS GRANDE DE PROGRAMADORES AMANTES DE LOS ALFAJORES</span>
      <span class="join-us__short-text">ÚNETE AL CLUB ALFAJOR</span>
      <button class="join-us__button">CONOCE MAS AQUÍ</button>
    </div>
    <picture class="join-us__picture">
      <img src="/images/alfajor.jpg" alt="alfajor_image" class="join-us__image">
    </picture>
  </div>
</section>
