<!-- <div id="field">
  <h1></h1>

  <div class="candy c1d"></div>

  <div class="secondCandy">
    <div class="candyStick"></div>
    <div class="circLelollipop">
      <div class="sliceCandy piece_1"></div>
      <div class="sliceCandy piece_2"></div>
      <div class="sliceCandy piece_3"></div>
      <div class="sliceCandy piece_4"></div>
      <div class="sliceCandy piece_5"></div>
      <div class="sliceCandy piece_6"></div>
      <div class="sliceCandy piece_7"></div>
      <div class="sliceCandy piece_8"></div>
      <div class="sliceCandy piece_9"></div>
      <div class="sliceCandy piece_10"></div>
      <div class="sliceCandy piece_11"></div>
      <div class="sliceCandy piece_12"></div>
    </div>
  </div>

  <div class="thirdCandy">
    <div class="simpleCandy1">
      <div class="triangular t_1"></div>
      <div class="triangular t_2"></div>
      <div class="triangular t_3"></div>
    </div>
    <div class="simpleCandy2">
      <div class="disk">
        <span>C</span>
        <span>a</span>
        <span>n</span>
        <span>d</span>
        <span>y</span>

        <span>S</span>
        <span>h</span>
        <span>o</span>
        <span>p</span>
      </div>
      <div class="smile">
        <div class="leftEye"></div>
        <div class="rightEye"></div>
        <div class="mouse">
          <div class="leftTooth"></div>
          <div class="rightTooth"></div>
        </div>
      </div>
    </div>
    <div class="simpleCandy3">
      <div class="triangular t_4"></div>
      <div class="triangular t_5"></div>
      <div class="triangular t_6"></div>
    </div>
  </div>

  <div class="fourthCandy shake">
    <div class="candyBoxUp">
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="dragee"><span>m</span></div>
      <div class="levelUp">
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
        <div class="dragee"><span>m</span></div>
      </div>
    </div>
    <div class="candyBox">
      <img
        src="https://raw.githubusercontent.com/BlackStar1991/Pictures-for-sharing-/master/mms-logo1.png"
        width="260"
        height="114"
        alt="m&m"
      />
    </div>
    <div class="candyBoxDown"></div>
  </div>
</div> -->

<!-- Logo is not mine.. just used from Google as an Example -->
<div class="container" id="header">
  <header>
    <div id="logo">
      <!--       <h1>Sticky Sweetshop</h1>
      <h2><i class="fa fa-th-large" aria-hidden="true"></i> Variety of Confectionaries</h2> -->
      <!-- <img
        src="https://i.pinimg.com/originals/bc/db/70/bcdb7090adf1497e5f8b74d35749c569.jpg"
        alt="Sweet Shop Logo"
      /> -->
    </div>
    <!-- <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav> -->
  </header>
</div>
<div class="container" id="main">
  <main>
    <div class="title">
      <h1>Nuestras Golosinas</h1>
    </div>
    <div class="cards">
      <div class="card"><div class="text">JELLY BEANS</div></div>
      <div class="card"><div class="text">GOMITAS</div></div>
      <div class="card"><div class="text">GALLETAS</div></div>
      <div class="card"><div class="text">DONUTS</div></div>
      <div class="card"><div class="text">PIC 'N' MIX</div></div>
      <div class="card"><div class="text">ROCKY ROAD</div></div>
    </div>
  </main>
</div>

<div class="container" id="section">
  <div id="rowz">
    <section>
      <i class="fa fa-facebook"></i>
      <h1>post to our wall</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        suscipit dui vel diam porttitor, eget pharetra tortor facilisis. Nullam
        in varius mauris.
      </p>
      <p><a href="#">Like Our Page</a></p>
    </section>

    <section>
      <i class="fa fa-instagram"></i>
      <h1>follow our insta</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        suscipit dui vel diam porttitor, eget pharetra tortor facilisis. Nullam
        in varius mauris.
      </p>
      <p><a href="#">Follow Us</a></p>
    </section>

    <section>
      <i class="fa fa-snapchat"></i>
      <h1>send us snaps</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        suscipit dui vel diam porttitor, eget pharetra tortor facilisis. Nullam
        in varius mauris.
      </p>
      <p><a href="#">Friend Us</a></p>
    </section>
  </div>
</div>

<div class="container" id="footer">
  <footer>
    <!-- <div class="social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    </div> -->
    <div class="contact-details"><a href="#">info </a></div>
  </footer>
</div>
