<iframe type="text/html" src="https://www.youtube.com/embed/-ePDPGXkvlw?autoplay=1" frameborder="0" allow="autoplay"  style="width: 100%;height: 500px;" allowFullscreen="true"></iframe>

<div class="container">
  <div class="row">
    <div class="column1">
      <div>
        <img src="https://static.posters.cz/image/750webp/103394.webp" alt="">
      </div>
      <div class="mov-details">
        <p>Capitan America</p>
        <p>Direct By: John Howard</p>
        <p>Reparto By: Chris Evans, Michael Fassbender</p>
        <p>Sinopsis: Lorem ipsum</p>
      </div>

    </div>
    <div class="column">
      <h1>Capitan America</h1>
      <span class="badge">TE+14</span> &nbsp; <span class="badge">199m</span>

      <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label for="tabone" style="text-align: center;">DOM <span style="font-size: small;"><br> 21 JUL
            2024</span></label>

        <div class="tab">
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:30</button>
              <button class="w3-btn w3-black">19:30</button>
              <button class="w3-btn w3-black">20:30</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabtwo">
        <label for="tabtwo" style="text-align: center;">LUN <span style="font-size: small;"><br> 22 JUL
            2024</span></label>
        <div class="tab">
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree" style="text-align: center;">MAR <span style="font-size: small;"><br> 23 JUL
            2024</span></label>
        <div class="tab">
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabfour">
        <label for="tabfour" style="text-align: center;">MIER <span style="font-size: small;"><br> 24 JUL
            2024</span></label>
        <div class="tab">
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
          <div class="w3-show-inline-block">
            <div class="w3-bar">
              <button class="w3-btn w3-black">16:50</button>
              <button class="w3-btn w3-black">19:00</button>
              <button class="w3-btn w3-black">21:00</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
