.container{
  position: relative;
  width: 100%;
  margin: auto;
  height: 500px;
}
swiper-container{
  height: 100%;
}
swiper-slide{
  height: 100%;
  width: 100%;
}
.carousel__container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.carousel__picture {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.carousel__image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.carousel__title {
  text-align: center;
  position: absolute;
  font-size: 1.3rem;
  bottom: 30px;
  color: white;
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
  text-transform: uppercase;
}
.next, .prev {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.616);
  outline: none;
  border: none  ;
  padding: 5px;
  position: absolute;
  top: 50%;
}
.next:hover, .prev:hover {
  background-color: rgba(255, 255, 255, 0.692);
}
.next{
  right: 20px;
}
.prev{
  left: 20px;
}

@media (min-width:768px) {
  .carousel__container{
    height: 470px;
  }
}
@media (min-width:1024px) {
  .carousel__container{
    margin: 1rem auto;
    height: 480px;
  }
  .carousel__image{
    width: 90%;
    border-radius: 1rem;
    object-fit: fill;
  }
  .next, .prev{
    background-color: transparent;
  }
  .next:hover, .prev:hover {
    background-color: transparent;
  }
}

