<div class="container">
  <div style="width: 30%; float: right">
    <mat-card class="card-container">
      <picture class="card__picture">
        @if (movie().poster_path) {
        <img
          [src]="imagesBaseUrl + '/w300/' + movie().poster_path"
          alt="{{ movie().title }}"
          class="card__image"
        />
        }@else {
        <img src="\images\no-poster-available.jpg" alt="" class="card__image" />
        }
      </picture>
      <hr />
      <div class="precios">
        <h6>Precios Butacas</h6>
        <div *ngFor="let row of seatsPrices" style="margin-top: 2%">
          <span
            >{{ row?.['type'] }} {{ row?.['price'] | currency: 'USD' }}</span
          >
        </div>
      </div>
      <div class="seleccionadas" *ngIf="selectedSeats.length">
        <h6>Butacas Seleccionadas</h6>
        <div *ngFor="let row of selectedSeats">
          <span
            >Tipo:{{ row.type }} Locacion:{{ row.position }} Precio:
            {{ row.price | currency : "USD" }}</span
          >
        </div>
        <div class="buton-rowt">Total {{ total | currency : "USD" }}</div>
        <div class="button-row">
          <button
            mat-raised-button
            color="primary"
            (click)="openDialogPayment()"
          >
            Comprar
          </button>
        </div>
      </div>
      <hr />
      <!-- <p class="movie__desc">{{ movie().overview }}</p> -->
      <span class="card__title">Actores</span>
      <hr />
      <section class="cast__section">
        @for (cast of movieCast() | slice:0:10; track cast.id) { @if
        (cast.profile_path) {
        <img
          [src]="imagesBaseUrl + '/w185/' + cast.profile_path"
          alt="{{ cast.name }}"
          class="cast__image"
        />
        } }
      </section>
    </mat-card>
  </div>
  <main class="innerContainer">
    <div class="movie">
      <h2 class="movieTitle">Película: {{ data.title }}</h2>
      <span class="material-symbols-outlined calendar"> calendar_month </span>
      {{ data.mesInicio }}, {{ data.diaInicio }}
      <span class="material-symbols-outlined inline-icon"
        >nest_clock_farsight_analog
      </span>
      {{ data.inicio }} H
      <span class="material-symbols-outlined inline-icon"> movie </span>
      {{ data.sala }}
    </div>

    <div class="screen"></div>

    <h3 class="screenText">SCREEN THIS WAY</h3>

    <!-- Generate the seating grid -->

    <table style="width: 100%">
      <tr *ngFor="let row of rows">
        <td
          *ngFor="let col of cols"
          style="text-align: center"
          (click)="seatClicked(row, col)"
        >
          <span
            class="material-symbols-outlined"
            [ngClass]="{
              ocupado: numbersOfSeatsNotAvailable.includes(row + col),
              standard: !vip.includes(row + col) && !premium.includes(row + col),
              vip: vip.includes(row + col),
              premium: premium.includes(row + col),
            }"
          >
            living
          </span>
          <tr>
            <td class="seat">
              {{ row + col }}
            </td>
          </tr>
        </td>
      </tr>
    </table>

    <table style="width: 100%; margin-top: 70px">
      <tr>
        <td class="seat">
          <span
            class="material-symbols-outlined"
            [ngClass]="{
              standard: true
            }"
          >
            living
          </span>
          <tr>
            <td style="text-align: center; color: white">STANDARD</td>
          </tr>
        </td>
        <td class="seat">
          <span
            class="material-symbols-outlined"
            [ngClass]="{
              vip: true,
            }"
          >
            living
          </span>
          <tr>
            <td style="text-align: center; color: white">VIP</td>
          </tr>
        </td>
        <td class="seat">
          <span
            class="material-symbols-outlined"
            [ngClass]="{
              premium: true,
             }"
          >
            living
          </span>
          <tr>
            <td style="text-align: center; color: white">PREMIUM</td>
          </tr>
        </td>
        <td class="seat">
          <span
            class="material-symbols-outlined"
            [ngClass]="{
              ocupado: true,
             }"
          >
            living
          </span>

          <tr>
            <td style="text-align: center; color: white">OCUPADO</td>
          </tr>
        </td>
      </tr>
    </table>

    <!-- <div class="column1">
      <h5>Butacas vendidas</h5>
      <div *ngFor="let row of seatsNotAvailable" style="margin-top: 2%">
        <span>{{ row?.['type'] }} {{ row?.['cinemaSeatID'] }}</span>
      </div>
    </div> -->
  </main>
</div>

{{ selectedSeats | json }}
<!-- {{ seatsPrices | json }}

<pre>
  {{ data | json }}
</pre> -->

<!-- {{ numbersOfSeatsNotAvailable | json }}

<pre>
  {{ data | json }}
</pre> -->

<!-- <pre>
  {{ seatsAvailable | json }}
</pre> -->
