<div class="login__container">
  <div class="login-logo__container">
    <img src="/images/logo.svg" alt="logo">
    <span>SLOW <br> MOVIE</span>
  </div>

  <form [formGroup]="loginForm" (submit)="onLogin()" class="login__form">
    <mat-form-field>
      <mat-label>Correo electrónico</mat-label>
      <input
      matInput
      formControlName="username"
      required
      type="email"
      class="login__form-input"
      />
      @if (this.loginForm.controls.username.getError('required') && this.loginForm.controls.username.touched) {
        <mat-error>Correo electrónico requerido</mat-error>
      }
      @if (this.loginForm.controls.username.getError('email')) {
        <mat-error>El correo electrónico no es valido</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
    <input
    matInput
    formControlName="password"
    required
    type="password"
    class="login__form-input"
    />
    @if (this.loginForm.controls.password.getError('required') && this.loginForm.controls.password.touched) {
      <mat-error>Contraseña requerida</mat-error>
    }
  </mat-form-field>
  <div class="button__container">
    <button mat-flat-button [disabled]="this.loginForm.invalid" [mat-dialog-close]="true" class="submit__button" type="submit">Acceder</button>
  </div>
</form>
<div class="divider-container">
  <mat-divider></mat-divider>
  <span>o</span>
  <mat-divider></mat-divider>
</div>
<div class="button__container">
  <button class="google-button" [mat-dialog-close]="true" (click)="onGoogleRegistration()"><img src="/icons/google.svg" alt="google-svg"> Registro con google </button>
</div>
<mat-divider></mat-divider>
<div class="login__form-links">
  <a href="#">¿Olvidaste la contraseña?</a>
  <a [routerLink]="['/auth/register']" [mat-dialog-close]="true">Regístrate</a>
</div>
</div>
