.login__container{
  padding: 1rem 2rem;
}
.login-logo__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.login-logo__container>img{
  width: 100px;
}
.login-logo__container>span{
  font-size: 1.3rem;
}
.login__form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login__form-input{
  border: .3rem;
}
.login__form>button{
  margin: 1rem 0;
}
.login__form-links{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.login__form-links>a{
  color: blue;
  text-decoration: none;
}
.button__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.submit__button{
  border-radius: .3rem;
  margin: 0 auto;
  width: 100px;
}
