<div class="success-message">
  <div class="success-message__icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="101"
      height="100"
      viewBox="0 0 101 100"
      fill="none"
    >
      <circle opacity="0.2" cx="50.5" cy="50" r="50" fill="#00C753" />
      <path
        d="M88 50C88 70.7107 71.2107 87.5 50.5 87.5C29.7893 87.5 13 70.7107 13 50C13 29.2893 29.7893 12.5 50.5 12.5C71.2107 12.5 88 29.2893 88 50Z"
        fill="#00C753"
      />
      <path
        d="M33.8327 50L46.3327 62.5L67.166 37.5"
        stroke="white"
        stroke-width="3.75"
      />
    </svg>
  </div>

  <h1 style="margin-top: 30px">Pago realizado correctamente!!</h1>
  <p>
    El pago sera efectuo correctamente, en los proximos minutos recbiriras un
    correo electronico de confirmacion, con el booking y los detalles de su
    compra en Ocean Drive Cinemas
  </p>
  <div class="success-message__line">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="495"
      height="2"
      viewBox="0 0 495 2"
      fill="none"
    >
      <path d="M494.5 1H0.5" stroke="#00C753" stroke-dasharray="2 2" />
    </svg>
  </div>
  <div class="success-message__support">Si necesita ayuda, contactenos en:</div>
  <div class="success-message__row">
    <a
      href="tel:+44736027355"
      class="success-message__tel success-message__link"
      >+44736027355</a
    >
  </div>
</div>
