.register-page__container {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.register-text__bonus {
  background-image: url('/images/fondo.jpg');
  height: auto;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bonus__text {
  padding: 10px;
  font-size: 1.2rem;
}
.bonus__text>span{
  text-align: center;
}
.bonus__text > span {
  font-weight: 600;
}
.register__container {
  width: 100%;
  padding: 1rem 2rem;
}
.register__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register__title {
  font-size: 1.2rem;
  font-weight: 500;
}
.register__title-down {
  margin-top: 1rem;
}
.divider {
  width: 100%;
}
.form-input__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}
.form-input__container > div {
  width: 100%;
  height: 100px;
}
.form-input__container > div > p {
  font-size: 1.2rem;
}
.input-form {
  width: 90%;
  padding: 0.5rem 0.4rem;
  font-size: 1rem;
  outline: none;
}
.input-form:focus {
  border: 2px solid rgb(133, 133, 133);
}

.form-input__error {
  color: rgb(255, 41, 41);
}
.checkbox__container {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox__agree {
  gap: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-items: center;
}
.checkbox__agree > input {
  transform: scale(1.3);
}
button {
  width: 200px;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  font-weight: 600;
  border: none;
  background-color: #235789;
}
button:hover {
  background-color: #3f6486;
}
