<section class="section meet-us__section">
  <a href="#" class="meet-us__item">CONÓCENOS</a>
  <a href="#" class="meet-us__item">FORMATOS Y SALAS</a>
  <a href="#" class="meet-us__item">OTROS SERVICIOS</a>
  <a href="#" class="meet-us__item">TRABAJA CON NOSOTROS</a>
  <button mat-flat-button color="primary" class="meet-use__button">REGISTRARSE</button>
  <button mat-flat-button color="warn" class="meet-use__button">INICIAR SESIÓN</button>
</section>
<header class="navbar__container">
  <section class="navbar-logo__container">
    <img src="/images/logo.svg" alt="logo" class="navbar__logo">
    <span class="navbar__title">SLOW <br> MOVIE</span>
  </section>
  <nav class="navbar__nav">
    <a href="" class="nav__item">CARTELERA</a>
    <a href="" class="nav__item">PELÍCULAS</a>
    <a href="" class="nav__item">PROMOCIONES</a>
    <a href="" class="nav__item">GOLOSINAS</a>
    <a href="" class="nav__item nav-button__item">CLUB <br> ALFAJOR</a>
  </nav>
  <span class="empty__span"></span>
</header>
